 @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

    /* Custom styles */
    * {}

    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(to bottom left, rgb(13, 19, 22) 0%, rgb(70, 66, 66) 100%);
    }

    #row {
      display: flex;
      background-color: white;
      border: 1px solid #FFFFFF;
      border-radius: 1%;
      height: 615px;
    }

    #box {
      height: 530px;
      display: inline-flex;
      width: 8;
      background-size: cover;
      margin: auto;
    }

    .btn-group {
      align-items: center;
    }

    #car {
      height: 500px;
      display: flex;
      width: 490px;
      background-repeat: no-repeat;

      background-color: transparent;
      position: relative;
      top: 50%;
      left: 50%;
      background-image: linear-gradient(to bottom left, pink 0%, red 100%);
      transform: translate(-50%, -50%);
      background-image: url("https://cdn4.iconfinder.com/data/icons/alter-3d-characters/512/transportation_character_builder___3d_people_person_character_car_vehicle_travel_map2x.png");
      /* background-image: url("C:\Users\LENOVO\OneDrive\Desktop\kisspng-2018-mercedes-benz-g-class-sport-utility-vehicle-c-mercedes-benz-g-wagon-5b1dcb5d6aaaf4.3690627415286792614369.png"); */
      /* background-image: url("https://banner2.cleanpng.com/20180610/fzh/kisspng-2018-mercedes-benz-g-class-sport-utility-vehicle-c-mercedes-benz-g-wagon-5b1dcb5d3a2411.1386610415286792612382.jpg"); */
      /* background-image: url("https://cdn4.iconfinder.com/data/icons/car-parts-solid-elasto-font-next-2020/16/02_car-512.png"); */
      /* background-image: url("https://media.istockphoto.com/id/1306455399/photo/generic-modern-car.jpg?s=612x612&w=0&k=20&c=MTTx6ZAQKSXXpFkdP2rbQqLHYkWawgBuvLJGBv8fc7g="); */
      /* opacity: 50%; */
      /* background-image: url("https://w7.pngwing.com/pngs/819/581/png-transparent-2018-mercedes-benz-g-class-sport-utility-vehicle-car-mercedes-benz-g-wagon-vehicle-rim-mercedes-benz-thumbnail.png"); */
    }

    #car:hover {
      opacity: 0.6;
    }

    .i {
      color: transparent;
    }

    h1 {
      text-align: center;
      font-family: 'Monoton', cursive;
    }

    h4 {
      text-align: center;
      position: relative;
      color: #FFFFFF;
      font-family: 'Orbitron', sans-serif;
    }

    card-header {
      align-items: center;
    }

    h5 {
      font-family: 'Roboto Mono', monospace;
    }

    h6 {
      font-family: 'Recursive', sans-serif;
    }

    #im {
      align-items: center;
    }
  </style>
  <style>
    .card-body {
      font-family: 'Cinzel', serif;
    }

    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
